[submodule "ky_docker-compose/piveau-docker-compose"]
	path = ky_docker-compose/piveau-docker-compose
	url = https://github.com/JakobFritzz/Piveau-Dockercompose.git
[submodule "ky_piveau/piveau-hub-ui"]
	path = ky_piveau/piveau-hub-ui
	url = https://github.com/JakobFritzz/Piveau-Hub-UI.git
[submodule "ky_piveau/piveau-hub-ui-modules"]
	path = ky_piveau/piveau-hub-ui-modules
	url = https://gitlab.kit.edu/utpva/piveau-hub-ui-modules.git
